
.login-container {
  display: flex;
  width: 75%;
  margin: 12rem auto;
}

.login-container > .details {
  flex: 1;

}

.login-container > .details > .wrap-details {
  display: inline-block;
  
}

.details > .wrap-details > h1 {
  font-size: 80px;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  margin-top: 2.5cm;
  margin-left: -1cm;
 
}

.details > .wrap-details > p {
  font-size: 22px;
  font-weight: normal;
  margin-top: -3rem;
  text-align: center;
  margin-left: -1cm;
}

.login-box {
  display: flex;
  flex-direction: column;
  width: 25rem;
  background-color: rgb(251, 240, 182);
  border-radius: 20px;
}

.login-box > p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.login-box > input {
  width: 75%;
  height: 2rem;
  padding: 0.2cm;
  margin: 0.5rem 0;
  align-self: center;
  background-color: whitesmoke;
  border-radius: 7px;
  border: none;
  font-size: 16px;
}

.login-box > .button-container {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-box > .button-container > span {
  text-align: center;
  font-size: 14px;
  color: red;
}

.login-box > .button-container > #login-button {
  text-decoration: none;
  font-size: 16px;
  padding: 0.5rem 0;
  text-align: center;
  width: 75%;
  border: none;
  border-radius: 7px;
  background-color: rgb(255, 160, 122);
  color: white;
  font-weight: bold;
  align-self: center;
  margin: 0.5rem 0;
}

.login-box > .button-container > #signup-button {
  text-decoration: none;
  font-size: 16px;
  padding: 0.5rem 0;
  text-align: center;
  width: 75%;
  border: none;
  border-radius: 7px;
  background-color: rgb(251, 215, 165);
  color: rgb(167, 146, 129);
  font-weight: bold;
  align-self: center;
  margin: 0.5rem 0;
}
