.accessories-page-container {
  margin: 0 2rem;
}

.accessories-page-item {
  display: flex;
  background-color: rgb(255, 173, 141);
  border-radius: 15px;
  padding: 0 10px;
  margin-bottom: 1rem;
}

.accessories-page-item > img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  margin: 10px 0;
}

.accessories-page-item > .accessories-page-item-detail {
  flex: 1;
  margin: 0 2rem;
}

.accessories-page-item > .accessories-page-item-detail > pre {
  font-family: inherit;
}

.accessories-page-item > .accessories-page-button-container {
  display: flex;
  align-items: center;
  width: 10rem;
}

.accessories-page-item
  > .accessories-page-button-container
  > .wrap-accessories-page-button-container
  > button {
  background-color: blanchedalmond;
  border-radius: 10px;
  border: 0px;
  padding: 10px;
}